.topbar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    position: relative;

    @include for-extra-small {
        justify-content: end;
        justify-self: center;
        // padding-right: 10%;

    }

    @include for-small {}


    &__navigation {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 40%;
        padding: 0 20px;
        margin-right: 5rem;

        @include for-extra-small {
            width: 200px;
            margin-right: 10%;
        }

        &_link {
            text-decoration: none;
            margin-left: 40px;
            font-size: 2rem;
            font-weight: lighter;
            color: white;

            @include for-extra-small {
                font-size: 1rem;
                text-transform: uppercase;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                position: relative;
                bottom: -10px;

                background: var(--base-color-yellow)
            }

        }
    }
}