.footer {
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;    


    @include for-large {

    &__navigation {
        width: 400px;
        height: 70px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 70px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        position: relative;

         &:after {
            content: "";
            position: absolute;
            justify-content: center;
            right: 0px;
            width: 1px;
            height: 70%;
            background-color: gray;
            border-radius: 2px;
         }

        &_link {
            position: relative;
            height: 20px;
            font-size: 12px;
            width: 100%;
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            align-items: center;
            color: black;
            &::before {
                content: "";
                position: absolute;
                justify-content: center;
                left: -20px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: gray;
            }            
        }
    }
    &__information {
        padding: 10px;
        display: flex;
        align-items: end;
        text-align: end;
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
    }

    }
    @include for-extra-small {
        width: 400px;

        &__navigation {
            display: none;
            // padding-top: 10px;
            // padding-left: 40px;
            // width: 150px;
            // height: 70px;
            // display: flex;
            // flex-direction: column;
            // position: relative;

    
            //  &:after {
            //     content: "";
            //     position: absolute;
            //     justify-content: center;
            //     right: -5px;
            //     width: 1px;
            //     height: 70%;
            //     background-color: gray;
            //     border-radius: 2px;
            //  }
    
            // &_link {
            //     position: relative;
            //     height: 20px;
            //     font-size: 10px;
            //     width: 100%;
            //     text-decoration: none;
            //     font-family: 'Courier New', Courier, monospace;
            //     display: flex;
            //     align-items: center;
            //     color: black;
            //     &::before {
            //         content: "";
            //         position: absolute;
            //         justify-content: center;
            //         left: -20px;
            //         width: 10px;
            //         height: 10px;
            //         border-radius: 100%;
            //         background-color: gray;
            //     }            
            // }
        }
        &__information {

            align-items: end;
            width: 95%;
            text-align: center;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            display: flex;
            font-size: 12px;
            font-family: 'Courier New', Courier, monospace;
        }
    
    }

}
