@import './skill.scss';
@import './mixins.scss';

.skills {

  @include for-large {
    margin-top: 35px;
    width: 100%;
    min-height: 550px;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    flex-direction: column;
    align-items: center;


    &__header {
    text-align: center;

    }
    &__container {
        width: 80%;
        box-sizing: border-box;
        min-height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
  }
  @include for-small {
    margin-top: 35px;
    width: 100%;
    height: 550px;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    flex-direction: column;
    align-items: center;


    &__header {
    text-align: center;

    }
    &__container {
        width: 80%;
        box-sizing: border-box;
        height: 400px;
         display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
  }
  @include for-extra-small {
    margin-top: 35px;
    width: 100%;
    height: 550px;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    flex-direction: column;
    align-items: center;


    &__header {
    text-align: center;

    }
    &__container {
        width: 360px;
        box-sizing: border-box;
        height: 400px;
         display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
  }
}
