@import '../../Styles/mixins.scss';

.circle-decoration {
  position: absolute;
  border-radius: 50%;
  z-index: 0;

  &.white {
    width: 1300px;
    height: 1300px;
    border: 70px solid white;
    left: 300px;
    top: -200px;
  }

  &.yellow {
    width: 500px;
    height: 500px;
    border: 50px solid var(--base-color-yellow);
    left: -350px;
    top: 400px;
  }
}

.about {
  position: relative;
  height: 940px;
  margin: 100px auto;
  width: 100%;
  padding: 40px;
  justify-self: center;

  @include for-extra-small {
    height: 450px;
    max-width: 375px;
    margin: 0px;
    padding: 5px;
  }

  @include for-small {
    max-width: 600px;
  }


  &__container {
    // display: flex;
    height: 100%;
    position: relative;

    @include for-extra-small {
      width: 100%;
      position: relative;

      height: 400px;
    }

    @include for-small {}


    &_block {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;

      @include for-extra-small {
        border-radius: 4px;
      }

      &_header {
        font-size: 3rem;
        color: white;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 400;

        @include for-extra-small {
          font-size: 0.6rem;
        }
      }

      &_description {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        font-size: 1.8rem;
        color: white;
        padding: 0 40px 40px;

        @include for-extra-small {
          font-size: 0.65rem;
          padding: 10px 20px;
          margin: 0px;
        }

        @include for-small {
          font-size: 0.74rem;
          padding: 20px;
          margin: 0px;
        }

        ;
      }

      &.cv {
        width: 350px;
        height: 406px;
        position: absolute;
        top: 0;
        left: 0;
        background: url('./cv.png');
        background-color: var(--base-color-blue);
        background-position: center;

        @include for-extra-small {

          width: 95px;
          height: 112px;
          border-radius: 4px;
          top: -20px;
          left: 20px;
          background-size: cover;
        }

        @include for-small {
          width: 145px;
          height: 165px;
        }


      }

      &.linkdin {
        width: 256px;
        height: 256px;
        position: absolute;
        bottom: 50px;
        left: 150px;
        background: url('./linkdin.png');
        background-color: var(--base-color-blue);
        background-position: center;
        background-size: contain;

        @include for-extra-small {
          width: 60px;
          height: 60px;
          left: 40px;
          border-radius: 3px;
        }
      }

      &.text {
        width: 900px;
        height: 700px;
        position: absolute;
        background: var(--base-color-blue);
        bottom: 100px;
        right: 0;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: start;

        @include for-extra-small {
          width: 225px;
          height: 370px;
          bottom: 20px;
          right: 10px;
        }

        @include for-small {
          width: 350px;
          height: 330px;
        }
      }
    }
  }
}

p {
  margin: 0;
  margin-top: 10px;
}