@import '../../../../../Styles/mixins.scss';

.todo-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__container {
        margin-top: auto;
        display: flex;
        min-height: 80vh;
        flex-direction: row;
        align-items: start;
        width: 100%;
        justify-content: center;
    }


    &__app {
        background: var(--base-color-blue);
        margin: 10% 0;
        display: flex;
        width: 95%;
        max-width: 700px;
        flex-direction: column;
        min-height: 400px;
        justify-content: flex-start;
        border: 4px solid var(--base-color-yellow);
        box-sizing: border-box;
        border-radius: 10px;

        align-items: center;

        &_description {
            width: 85%;
            font-size: 1.3rem;
            text-align: center;
            font-weight: 300;
            color: white;
            height: 70px;
            padding: 10px;
        }

        &_create {
            display: flex;
            width: 95%;
            min-height: 100px;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &_input {
                width: 63%;
                height: 30px;
            }

            &_button {
                height: 50px;
                width: 30%;
                border: 1px solid gray;
                background: var(--base-color-yellow);
                color: white;
                display: flex;
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        &_list {
            width: 90%;
        }

        &_todo {
            width: 95%;
            margin-bottom: 10px;
            border: 1px solid rgb(170, 168, 168);
            min-height: 40px;
            background-color: var(--base-color-yellow);
            display: flex;
            border-radius: 5px;
            align-items: center;
            justify-content: space-between;
            padding-left: 15px;

            &_text {
                width: 80%;
                ;
                margin-left: 10px;
                margin: 0;
                overflow-wrap: break-word;
                line-height: 150%;
                word-wrap: break-word;
                max-width: 500px;
                vertical-align: middle;
            }

            &.green {
                background-color: green;
            }

            &_delete {
                cursor: pointer;
                margin-left: 20px;
                margin-right: 10px;
            }

            &_isdone {
                cursor: pointer;
            }
        }
    }

    &_create {
        display: flex;
        width: 500px;
        min-height: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &_input {
            width: 350px;
            height: 30px;
        }

        &_button {
            height: 50px;
            width: 140px;
            border: 1px solid gray;
            background: var(--base-color-yellow);
            color: white;
            display: flex;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
        }
    }

    &_list {
        width: 500px;
        min-height: 300px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}