@import '../../Styles/mixins.scss';
// @keyframes rotate {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

.page-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 800px;

    @include for-extra-small {
        height: 198px;
    }


    &__info {
        width: 50%;
        height: 100%;

        @include for-extra-small {
            position: relative;
        }

        &_logo {
            width: 220px;
            height: 220px;
            background-image: (url('./logo.png'));
            background-size: cover;
            position: relative;
            top: -80px;
            left: 120px;

            @include for-extra-small {
                width: 80px;
                height: 75px;
                left: 0px;
                top: -70px;
                position: absolute;
            }
        }

        &_description {
            font-size: 2rem;
            color: white;
            margin-bottom: 20px;
            margin-left: 200px;

            @include for-extra-small {
                font-size: 0.8rem;
                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 0px;
            }
        }

        &_name {
            font-size: 3.5rem;
            color: white;
            text-transform: uppercase;
            ;
            margin-left: 200px;

            @include for-extra-small {
                font-size: 1.5rem;
                margin-left: 20px;
                ;
            }
        }

        &_button {
            width: 200px;
            height: 50px;
            text-decoration: unset;
            background: var(--base-color-yellow);
            color: white;
            text-align: center;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 1.2rem;
            margin-left: 200px;

            @include for-extra-small {
                margin-left: 20px;
                width: 100px;
                height: 15px;
                font-size: 0.6rem;
                padding: 3px;
                border-radius: 2px;

            }

            &:hover {
                background-color: #0056b3;
            }
        }
    }

    &__img {
        width: 50%;
        height: 100%;

        &_image {
            width: 700px;
            height: 700px;
            position: relative;
            top: 40px;
            background-image: url('./header_photo.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            @include for-extra-small {
                width: 180px;
                height: 180px;
                top: -10px;

            }

            & span {
                position: absolute;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background: var(--base-color-gray);
                // background: linear-gradient(to right, black, white);
                animation: rotate 1s linear infinite;

                @include for-extra-small {
                    width: 20px;
                    height: 20px;

                }

                &:nth-child(1) {
                    top: 30px;
                    left: 170px;

                    @include for-extra-small {
                        top: 15px;
                        left: 30px;

                    }
                }

                &:nth-child(2) {
                    top: 20px;
                    left: 135px;
                }

                &:nth-child(3) {
                    top: 100px;
                    left: 0;
                }
            }

        }
    }
}