@import './Styles/mixins.scss';
@import './Styles/portfolio.scss';
@import './Styles/contacts.scss';
@import './Styles/curiculum.scss';
@import './Styles/layout.scss';
@import './Projects/HangmanGame/HangmanStyles.scss';
@import './Components/TopBar/topBar.scss';
@import './Styles/footer.scss';
@import './Projects/TodoWithAuth/src/Todo.scss';
@import './Projects/WordDefinition/words.scss';
@import './Common/loading.scss';
@import './Projects/GifsApp/gifsApp.scss';




* {
  box-sizing: border-box;
  font-family: 'Candara', sans-serif;
}

// h1 {
//   font-family: 'Courier New', Courier, monospace;
//   font-weight: 600;
//   font-size: 40px;
// }

#root {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  --base-color-yellow: rgb(226, 162, 0);
  --base-color-blue: #003660;
  align-items: center;
  background: linear-gradient(to bottom right, #063458, white);

  @include for-extra-small {
    width: 100%;

  }

  // background-image: url('./Styles/images/gradient_portfolio.webp');
  // background-size: cover;
  // background-repeat: no-repeat;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  overflow: hidden;

  @include for-extra-small {
    width: 375px;
  }

  // @include for-small {
  //   width: 640px;
  // }
  @include for-large {
    min-width: 1200px;
    max-width: 1920px;
  }

  // background-image: url('./Styles/images/header_gradient.jpg');
  // background-size: contain;
  // background-repeat: no-repeat;
}