
.auth {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    &__container {
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}}